<%- include('header') -%>


<div class="text-center center-div pt-5" id="login">
    <div class="container border pb-5 " style="border: 2px solid black; background-color: silver;height: 200px;">
    <h3 style="padding-top: 5px;">Welcome to Dashboard</h3>
    <p><%=locals.user?user:"User"%></p>
    <a href="/route/logout" style="color: sienna; font-weight: bold;">Logout</a>
    </div>
</div>
        <%- include('footer') -%>